@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,600;1,900&display=swap");

body {
  font-family: montserrat;
  margin: 0;
  padding: 0;
  color: black;
}
html {
  height: 100vh;
}
